#headerWrapper {
    header{padding: 2rem $gutter;}
    h1 {font-size: 2rem;}
}// end header styles

div.allcards {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;
section {
    flex-basis: calc(50% - ($gutter/2))
}

}

nav {
    .nav-toggle {
        display: none;
    }
    ul {
        display: flex !important;
        flex-direction: row;
        position: static;
        background: transparent;
        border: 0;
        box-shadow: none;
        margin: 0;
        li {
            flex: 1;
            border-bottom: 0;
            border-right: 1px solid $borderColor;
            &:last-child {
                border-right: 0;
            }
        }
    }
    a {
        padding: 0.75rem;
        text-align: center;
    }
}

footer div {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
